# general R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Rmd related
*.html
understanding_uncertainty_files/
understanding_uncertainty_cache/

# dirs in data/
data/log/
data/pca_env/
data/MA/

# all uncertainty tables
results/uncertainty/

# models dir
models_low/


